.article-item {
    height: 380px
}

.article-item_category {
    margin-right: auto;
}

.article-item_title {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 700;
}

.article-item_date {
    color: #6b37f6;
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}

.article-item_date > p {
    color: gray;
    font-weight: 700;

}

.article-item_description {
    text-align: justify;
    height: 80px;
    overflow: hidden;
}
