.homework {
    text-align: start;
    cursor: pointer;
}
.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 700;
    font-size: 18px;
    color: #737272;
}

.score {
    width: 80px;
    font-size: 14px;
    text-align: center;
}

.complexity {
    width: 120px;
    display: flex;
    gap: 3px;
}

.date_section {
    margin-top: 40px;
    display: flex;
    gap: 3px;
    align-items: center;
}

.date_section > p {
    padding-right: 5px;
}

