.lesson {
    text-align: start;
    cursor: pointer;
}
.video {
   text-align: center;
}
.title {
    font-weight: 700;
}
.homeworks{
    margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
    .video iframe {
        width: 250px;
        height:auto
    }
}
