.container {
    padding: 0 30px;
}

.card {
    background: rgb(149, 229, 232);
    background: linear-gradient(90deg, rgba(149, 229, 232, 0.8632703081232493) 0%, rgba(156, 200, 240, 1) 50%, rgba(115, 151, 246, 1) 100%);
    cursor: pointer;
    transition: linear 0.4s;
}

.active {
    transform: scale(1.03);
    box-shadow: 0px 0px 12px 4px rgb(243, 212, 212);
}


.card > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.date {
    color: gray;
}

.progress {
    margin: 20px 0;
}

.progress .rs-progress-line {
    padding: 0;
}

@media screen and (max-width: 768px) {
    .panel > div {
        flex-direction: column;
    }

    .avatarBox {
        order: 1;
    }

    .form {
        order: 2;
    }

}