.App {
    text-align: center;
    font-size: 0.8rem;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rs-content {
    background-color: #f3f1f1;
    padding: 30px 60px;
}

.rs-panel {
    background-color: white;
    transition: linear 0.3s;
    border-radius: 9px;
    margin-top: 30px;
}

.rs-panel-title {
    font-size: 18px;
    font-weight: 700;
}

.rs-panel:hover {
    box-shadow: 0px 0px 12px 4px rgb(243, 212, 212);
}

.rs-carousel-placement-bottom .rs-carousel-toolbar {
    bottom: 5px;
}

.rs-carousel-slider-after, .rs-carousel-slider-item {
    background: transparent;
}


@media screen and (max-width: 768px) {
    .rs-content {
        padding: 10px 20px;
    }

    .rs-panel {
        border-radius: 5px;
        margin-top: 10px;
    }
}
