.App {
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: row;
}


.rs-content {
    background-color: #f3f1f1;
    padding: 30px 60px;
}

.rs-panel {
    background-color: white;
    transition: linear 0.3s;
    border-radius: 9px;
  margin-top: 30px;
}

.rs-panel-title {
    font-size: 18px;
    font-weight: 700;
}

.rs-panel:hover {
    box-shadow: 0px 0px 12px 4px rgb(243, 212, 212);
}


.auth-container {
    background-color: #D2E9E9;
    height: 100vh;
    position: relative;
}

